* {
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 50px;
}

nav {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px 0 10px;
}

#humberger {
  display: inline-block;
  cursor: pointer;
  padding: 0 5px 0 5px;
}

#top-bar,
#middle-bar,
#bottom-bar {
  width: 30px;
  height: 3px;
  background-color: #28352f;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 5px;
}

h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  vertical-align: top;
  padding: 20px;
}

#hero-section {
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-image: url('./images/header-illsutration-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#hero-text {
  font-weight: 400;
  line-height: 28px;
}

#call-to-action {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: white;
  outline: none;
  border: 2px solid #dfe1e6;
}

#card-container{
  width: 100%;
  display: grid;
  justify-content: center;
  padding: 10px;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, 327px);
}

#about-me-text{
  background-image: url('./images/about-me-mobile.png');
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px 20px 0px;
  gap: 20px;
  background-size: cover;
  background-position: 100%;
  margin-bottom: 20px;
  width: 100%;
}

#about-me-text h2{
  font-size: 40px;
  font-weight: bold;
  color: #172B4D;
}

#about-me-text p{
  font-size: 20px;
  font-weight: 500;
  color: #42526E;
  padding: 0px 20px 0px 20px;
  text-align: center;
}

#about-me-text button{
  background-color: #36B37F;
  color: white;
  font-size: 20px;
  outline-width: 0px;
  font-weight: 400;
  align-self: center;
  padding: 15px;
  border-radius: 10px;
  border: 0;
}

#about-me-skills{
  width: 100%;
  display: grid;
  justify-content: center;
  padding: 10px;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, 327px);
}

#about-me-skills h4{
  color: #344563 ;
  font-size: 24px;
  margin-top: -10px;
}

.card{
  position: relative;
  width: 327px;
  height: 474px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: end;
  border-radius: 10px;
  background-color: #EBF0EE;
  border: 1px solid #D0D9D4;
}

.skill-card{
  width: 327px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  background-color: #EBF0EE;
  border: 1px solid #D0D9D4;
  gap: 15px;
  padding: 25px 0px 25px 0px;
}

.image-placeholder{
  width: 100%;
  top: 0px;
  position: absolute;
  left: 0px;
  height: 100%;
}

.card-content{
  width: 100%;
  height: 230px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: white;
  z-index: 1;
  padding: 2px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.project-title{
  font-size: 24px;
  color: #3A4A42;
  padding: 0px 10px 0px 10px;
  margin-top: 5px;
}

.tag-language-container{
  display: inline-flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 12px;
}
.skill-language-container{
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  padding: 10px;
}
.tag-language{
  padding: 7px;
  background-color: #EBF0EE;
  color: #3A4A42;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
}

.project-action{
  background-color: #36B37F;
  color: white;
  font-size: 20px;
  outline-width: 0px;
  font-weight: 700;
  align-self: center;
  padding: 15px;
  border-radius: 10px;
  border: 0;
}

.skill-language{
  padding: 12px;
  background-color: white;
  color: #36B37E;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text-primary {
  color: #172b4d;
}

.text-green {
  color: #36b37e;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: end;
}

.text-center {
  text-align: center;
}

.padding-20-px {
  padding: 20px;
}

.font-20-px {
  font-size: 20px;
}

.font-23-px {
  font-size: 23px;
}

.display-flex-row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-gap-5 {
  gap: 24px;
}

.display-flex-col {
  display: flex;
  flex-direction: column;
}

.list-style-none {
  list-style-type: none;
}

.margin-top-5 {
  margin-top: 5rem;
}

.self-center {
  align-self: center;
}

.w-full {
  width: 100%;
}

.text-capitalize{
  text-transform: capitalize;
}