* {
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 50px;
  overflow: hidden;
  z-index: 10;
}

nav {
  background-color: rgb(255, 255, 255);
  display: flex;
  padding: 0 10px 0 10px;
  flex-direction: row;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}

nav .desktop-menu {
  display: none;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 10px;
}

address a {
  text-decoration: none;
  color: #42526e;
  font-size: 20px;
  font-weight: 900;
  margin-top: -8rem;
}

button:hover {
  box-shadow: 0 5px 10px #36b37f62;
}

button:active {
  background-color: #008552;
}

#humberger {
  display: inline-block;
  cursor: pointer;
  padding: 0 5px 0 5px;
  align-self: self-end;
}

#top-bar,
#middle-bar,
#bottom-bar {
  width: 30px;
  height: 3px;
  background-color: #28352f;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 5px;
}

.mobile-menu {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 99;
  display: none;
  flex-direction: column;
  padding: 0 12px 0 12px;
}

.openMenu {
  display: flex;
}

#humberger-close {
  width: 3rem;
  height: 3rem;
  padding: 2px;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: bold;
}

#mobile-nav {
  width: 100%;
  padding: 3px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#mobile-nav li a {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  text-decoration: none;
  color: #3a4a42;
}

h1 {
  font-size: 40px;
  line-height: 52px;
  vertical-align: top;
  padding: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0;
  text-align: center;
}

.linksButtons li > button {
  left: 0;
  top: 0;
  border-radius: 8px;
  padding: 12px;
  background-color: #36b37e;
  outline: none;
  border: 0;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  color: white;
}

.modal p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0;
  text-align: left;
  margin-top: 36px;
}

.title ul li > button {
  left: 0;
  top: 0;
  border-radius: 8px;
  padding: 12px;
  background-color: #36b37e;
  outline: none;
  border: 0;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  color: white;
}

#hero-section {
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-image: url("./images/header-illsutration-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#hero-text {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
}

#call-to-action {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: white;
  outline: none;
  border: 2px solid #dfe1e6;
}

#work-section h2 {
  font-size: 40px;
  color: #172b4d;
  padding: 30px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: center;
}

#card-container {
  width: 100%;
  display: grid;
  justify-content: center;
  padding: 20px;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, 327px);
}

#about-me {
  background-image: url("./images/about-me-mobile.png");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  background-position-x: 0.5rem;
  gap: 24px;
  border-radius: 0;
  padding: 40px 24px 64px 24px;
  column-gap: 10px;
  margin-top: 24px;
}

#about-me h2 {
  font-size: 40px;
  color: #172b4d;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: center;
}

#about-me p {
  font-size: 18px;
  color: #42526e;
  padding: 0 20px 0 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
  text-align: center;
}

#about-me button {
  background-color: #36b37f;
  color: white;
  outline-width: 0;
  align-self: center;
  border: 0;
  border-radius: 4px;
  padding: 12px;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
}

#about-me-skills {
  width: 100%;
  display: grid;
  justify-content: center;
  padding: 10px;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, 327px);
  margin-top: 58px;
}

#about-me-skills h4 {
  color: #344563;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0;
  text-align: center;
}

#contact-section {
  background-image: url("./images/Frame.png");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 58px;
  border-radius: 0;
  padding: 64px 24px 64px 24px;
  margin-top: 2.4rem;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  backface-visibility: visible;
}

#contact-section p {
  padding: 0 25px 0 25px;
  width: 100%;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
}

#form {
  font-size: 30px;
  font-weight: bold;
  padding: 0 15px 0 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#form input {
  width: 100%;
  height: 48px;
  border: 1px solid #36b37f;
  border-radius: 5px;
}

#form textarea {
  width: 100%;
  border: 1px solid #36b37f;
  border-radius: 5px;
}

#form button {
  border: none;
  background-color: #36b37f;
  color: white;
  align-self: center;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 4px;
  padding: 12px;
}

.name-group {
  display: none;
}

#form button:active {
  background-color: #008552;
}

#about-me button:active {
  background-color: #008552;
}

.horizontal-line {
  display: none;
}

.card {
  position: relative;
  width: 327px;
  height: 474px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: end;
  border-radius: 10px;
  background-color: #ebf0ee;
  border: 1px solid #d0d9d4;
}

.card:hover {
  animation: Scale-Animation 0.5s;
}

@keyframes Scale-Animation {
  0% {
    transform: scale(0.95);
  }

  50% {
    transform: scale(1.05);
  }

  75% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

.skill-card {
  width: 327px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ebf0ee;
  border: 1px solid #d0d9d4;
  gap: 15px;
  padding: 25px 0 25px 0;
  height: 316px;
  left: 0;
  top: 1px;
  border-radius: 0;
}

.skill-card:hover {
  animation: Scale-Animation 0.5s;
}

.image-placeholder {
  width: 100%;
  top: 0;
  position: absolute;
  left: 0;
  height: 100%;
}

.card-content {
  width: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 230px;
  border-radius: 8px;
}

.project-title {
  color: #3a4a42;
  padding: 0 10px 0 10px;
  margin-top: 5px;
  font-family: "Inter", sans-serif;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0;
  text-align: center;
}

.tag-language-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  gap: 8px;
  width: 100%;
  padding-left: 0;
}

.skill-language-container {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  padding: 10px;
}

.tag-language {
  padding: 8px 12px 8px 12px;
  background-color: #ebf0ee;
  color: #3a4a42;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
}

.project-action {
  background-color: #36b37f;
  color: white;
  outline-width: 0;
  align-self: center;
  border: 0;
  border-radius: 4px;
  padding: 12px;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
}

.skill-language {
  background-color: white;
  color: #36b37e;
  border-radius: 8px;
  padding: 12px;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
}

.text-primary {
  color: #172b4d;
}

.text-green {
  color: #36b37e;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: end;
}

.text-center {
  text-align: center;
}

.padding-20-px {
  padding: 20px;
}

.font-20-px {
  font-size: 20px;
}

.font-23-px {
  font-size: 23px;
}

.display-flex-row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-gap-5 {
  gap: 24px;
}

.display-flex-col {
  display: flex;
  flex-direction: column;
}

.list-style-none {
  list-style-type: none;
}

.margin-top-5 {
  margin-top: 5rem;
}

.self-center {
  align-self: center;
}

.w-full {
  width: 100%;
}

.text-capitalize {
  text-transform: capitalize;
}

.project-modal-box {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: #c1c7d0c9;
  position: fixed;
  padding: 1rem;
  display: none;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
}

.project-modal-box.show {
  display: flex;
}

#modal-close {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  height: 40px;
  cursor: pointer;
  width: 40px;
  border-radius: 8px;
  padding: 8px;
  background-color: transparent;
  font-size: 2rem;
  position: absolute;
  margin-top: 1.6rem;
}

.modal {
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}

.modal img {
  height: 220px;
  width: 100%;
  border-radius: 8px;
  margin-top: 14px;
}

.title {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 24px;
}

.title h3 {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  width: 100%;
}

.title ul {
  display: none;
}

.linksButtons {
  gap: 12px;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding-left: 0;
  margin-top: 12px;
}

.tag-language-container-modal {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  width: 100%;
  padding-left: 0;
  margin-top: 20px;
}

.tag-language-modal {
  padding: 8px 12px 8px 12px;
  background-color: #ebf0ee;
  color: #3a4a42;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
}

@media only screen and (min-width: 768px) {
  .modal p {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0;
    text-align: left;
    margin-top: 36px;
  }

  #hero-section {
    padding-top: 10rem;
    padding-bottom: 20rem;
    background-image: url("./images/Header-llustration-desktop.svg");
    background-repeat: no-repeat;
    background-position: -100px top;
    margin-bottom: 6rem;
    margin-top: -3.2rem;
    background-position-x: 0;
  }

  #hero-text {
    font-weight: 400;
    line-height: 28px;
    width: 50%;
    align-self: center;
  }

  #card-container {
    width: 100%;
    display: grid;
    justify-content: center;
    gap: 1.2rem;
    grid-auto-rows: auto;
  }

  #about-me {
    background-image: url("./images/about-me-desktop.png");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 0;
    margin-top: 12rem;
  }

  #about-me p {
    font-size: 20px;
    font-weight: 500;
    color: #42526e;
    padding: 0 20px 0 20px;
    text-align: center;
    width: 50%;
    align-self: center;
  }

  #about-me-skills {
    width: 100%;
    display: grid;
    justify-content: center;
    padding: 10px;
    gap: 1.2rem;
    grid-auto-rows: auto;
  }

  #contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0;
    margin-top: 0;
    padding: 5rem;
    background-image: url("./images/contact-form-desktop-illustraton.png");
    background-repeat: no-repeat;
    background-position-y: 13rem;
    background-position-x: 0;
    background-size: contain;
    backface-visibility: visible;
    padding-bottom: 15rem;
  }

  #form button {
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    width: 129px;
    height: 48px;
    font-size: 17px;
    border: none;
    background-color: #36b37f;
    color: white;
    align-self: self-start;
  }

  .horizontal-line {
    display: block;
  }

  .name-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;
  }

  #fullName {
    display: none;
  }

  #humberger {
    display: none;
  }

  nav {
    justify-content: center;
  }

  nav .desktop-menu {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-self: center;
  }

  nav ul li {
    font-size: 15px;
    color: #344563;
    font-weight: 700;
    font-family: "Inter", sans-serif;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 72px;
    margin-top: -0.6rem;
  }

  address a {
    display: none;
  }

  .project-modal-box {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: #c1c7d0f5;
    position: fixed;
    padding: 1rem;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
  }

  #modal-close {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 40px;
    cursor: pointer;
    width: 40px;
    border-radius: 8px;
    padding: 8px;
    background-color: #ebecf0;
    font-size: 2rem;
    position: relative;
  }

  .modal {
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    width: 920px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modal img {
    height: 616px;
    width: 100%;
    border-radius: 8px;
    margin-top: 14px;
  }

  .title {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 24px;
  }

  .title h3 {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0;
    text-align: left;
    width: 60%;
  }

  .title ul {
    gap: 12px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    width: 40%;
  }

  .tag-language-container-modal {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;
    width: 100%;
    padding-left: 0;
    margin-top: 20px;
  }

  .tag-language-modal {
    padding: 8px 12px 8px 12px;
    background-color: #ebf0ee;
    color: #3a4a42;
    border-radius: 4px;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
  }

  .linksButtons {
    display: none;
  }

  .hide-desktop {
    display: none;
  }
}

@media only screen and (min-width: 1040px) {
  #card-container {
    grid-template-columns: repeat(3, 327px);
  }

  #about-me-skills {
    grid-template-columns: repeat(3, 327px);
  }

  .modal {
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    width: 920px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 920px) {
  .modal {
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
